@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4
    hover:text-indigo-600 cursor-pointer lg:ml-9
  }

  button {
    @apply text-white border bg-indigo-600  border-indigo-600 hover:bg-transparent hover:text-indigo-600 rounded-md
  }
}

.demo {
  background-color: #009877;
  border: 1px solid #009877;
}

.icon {
  color: #009877;
}